---
apiVersion: v1
kind: Secret
metadata:
  name: capm-variables
  namespace: capm-system
type: Opaque
stringData:
  CLUSTER_TOPOLOGY: dHJ1ZQ==
---
apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: InfrastructureProvider
metadata:
  name: meta
  namespace: capm-system
spec:
  version: ${TAG}
  configSecret:
    name: capm-variables
  fetchConfig:
    selector:
      matchLabels:
        provider-components: meta